## Red Hat Intel Openshift Lab config tool
#################################################################################
## vim: noai:ts=2:sw=2:ft=yaml

---
cluster:
  name: "{{ CLUSTER_NAME }}"        # DNS compatible
  version: "{{ CLUSTER_VERSION }}"  # X.Y.Z


  {%- if PROV_CLOUD_PROVIDER != 'None' %}
  # Cloud Config
  cloud:
    {{ PROV_CLOUD_PROVIDER | lower }}:
      profile: # Values defined in ansible vault secret (MANDATORY)
        {%- if PROV_CLOUD_PROVIDER | lower == 'aws' %}
    {#    {%- raw %}#}
        aws_account_name: "{{ aws_account_name }}"
        aws_access_key_id: "{{ aws_access_key_id }}"
        aws_secret_access_key: "{{ aws_secret_access_key }}"
     {#   {%- endraw %} #}
        {%- endif %}
  {%- endif %}


  # Day-2 operations config
  config:
    name: "{{ CLUSTER_NAME }}"
    registry:
      expose: "{{ REGISTRY_IS_EXPOSED }}"
{%- if REGISTRY_ROUTE_HOSTNAME | length > 1 %}
      hostname: "{{ REGISTRY_ROUTE_HOSTNAME }}"
{%- endif %}
    auth:
      provider:
        htpasswd:
          name: "htpasswd"
      users:
        - name: admin
          pass: admin
          group: admins
        - name: dev
          pass: dev
          group: developers
      groups:
        - name: admins
          clusterRole: cluster-admin
        - name: developers
          clusterRole: basic-user


  # install-config.yaml inception
  spec:
    apiVersion: v1
    baseDomain: "{{ CLUSTER_BASE_DOMAIN }}"

    metadata:
      name: "{{ CLUSTER_NAME }}"    # DNS compatible

    controlPlane:
      name: master
      replicas: 3

    compute:
      - name: worker
        replicas: {{ WORKER_COUNT }}

    networking:
      clusterNetwork:
      - cidr: "{{ CLUSTER_NETWORK }}"
        hostPrefix: {{ HOST_PREFIX }}
      machineNetwork:
      - cidr: 10.0.0.0/16
      networkType: "{{ NETWORK_TYPE }}"
      serviceNetwork:
      - "{{ SERVICE_NETWORK }}"

    {%- if PROV_CLOUD_PROVIDER != 'None' %}
    platform:
      {{ PROV_CLOUD_PROVIDER | lower }}:
        region: "{{ PROV_CLOUD_REGION }}"
    {%- endif %}

    sshKey: '...'
    pullSecret: '...'

